body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}

.container {
	position: relative;
	height: 100vh;
}
.card {
	top: 20%;
	left: 37%;
	display: flex;
	padding: 1rem;
	flex-direction: column;
	position: absolute;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-input {
	padding: 1rem;
	width: 17rem;
	margin: 1rem;
	font-size: 1rem;
}

.card-btn {
	background-color: black;
	border-radius: 1rem;
	width: 30%;
	padding: 0.5rem;
	align-self: center;
	color: white;
	font-size: 1.2rem;
	margin-top: 1rem;
}

.heading {
	position: absolute;
	left: 43%;
	font-size: 2rem;
	top: 10%;
}

.img {
	height: 400;
	width: 400;
	align-self: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-img {
	padding-top: 15rem;
}

.msg {
	font-size: 2rem;
	text-align: center;
	font-family: sans-serif;
}

.success {
	color: green;
}

.error {
	color: red;
}
.text-center {
	text-align: center;
	color: skyblue;
}
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-top: -40px;
	margin-bottom: 20px;
	border: 3px solid green; 
	border-radius: 50%;
	padding: 20px;
}
.container input{
	width: 270px;
	padding: .35rem 2rem;
	font-size: 1.25rem;
	margin-right:1rem;
}
.container input:focus{
	outline: none;
	border-color: blue;
}


.form-btn
{
	padding:.5rem;
	background-color: black;
	color:white;
	border-radius: .2rem;
	font-size: 1rem;
}