<%- include('base.ejs') %>
<div class="main">
    <h1 class="heading">National Voting Platform</h1>
    <div class="sub-heading">Choose the below operation</div>
    <div class="img-div">
        <div class="card"><a href="/add-voter"><img src="/images/register.svg" class="img" /></a>
        <h3 class="card-btn">Register<h3></div>
        <div class="card"><a href="#"><img src="/images/v_vote.png" class="img" /></a>
            <h3 class="card-btn">Vote now<h3></div>
        
    </div>
</div>