<%- include('base.ejs') %>
<div class="main">
    <h1 class="heading">National Voting Platform</h1>
    <div class="sub-heading">Choose the below operation</div>
    <div class="img-div">
        <div class="card">
            <img src="/images/register.svg" class="img" />
            <h3 class="card-btn"> <a href="/add-voter" >Register</a></h3>
        </div>
        <div class="card">
            <img src="/images/v_vote.png" class="img" />
           <h3 class="card-btn"><a href="#">Vote now</a> </h3>
        </div>
        <div class="card">
            <img src="/images/statistics.png" class="img" />
           <h3 class="card-btn"><a href="/results">Check Results</a> </h3>
        </div>
        
    </div>
</div>