<%- include('./base.ejs') %>
<div class="container">
	<div class="heading">Register user</div>
	<form class="login" id="myform">
		Enter voter id
		<input class="form-ele" type="text" id="id" required />
		Enter name
		<input class="form-ele" type="text" id="name" required />
		Enter location
		<input class="form-ele" type="text" id="location" required />
		Enter Date of birth
		<input class="form-ele" type="date" id="dob" required />
		Select gender
		<select class="form-ele" id="gender" required>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">other</option>
		</select>
		Enter fingerprint :
		<form>
			<input type="file" accept="image/*" class="form-ele" id="file" name="file" required />
			<button class="form-btn" type="submit">Add</button>
		</form>
	</form>
</div>
<script>
	let TODAY = new Date();

	let EIGHTEEN_YEARS_BACK = new Date(
		new Date(TODAY).getFullYear() -
			18 +
			'-' +
			new Date(TODAY).getMonth() +
			'/' +
			new Date(TODAY).getDate()
	);
	document.getElementById('dob').max =
		EIGHTEEN_YEARS_BACK.toISOString().split('T')[0];
	const form = document.querySelector('form');
	form.addEventListener('submit', async (e) => {
		e.preventDefault();
		// const fingerprint=document.getElementById("fingerprint").value;
		const file = document.getElementById('file');
		const form = document.querySelector('form');
		const formdata = new FormData(form);
		const id = document.getElementById('id').value;
		const name = document.getElementById('name').value;
		const location = document.getElementById('location').value;
		const gender = document.getElementById('gender').value;
		const dob = document.getElementById('dob').value;
		const data = await fetch('http://localhost:4000/upload', {
			method: 'POST',
			body: formdata,
		});
		const fingerprint = await data.json();
		console.log('success!!!!!! === ', fingerprint);
		await fetch('/add-voter', {
			method: 'POST',
			headers: {
				Accept: 'application/json',
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				id: id,
				name: name,
				dob: dob,
				location: location,
				gender: gender[0],
				fingerprint: fingerprint,
			}),
		})
			.then(async (res) => {
				const ans = await res.json();
				if (ans.success) {
					alert('Data added successfully...!!!');
				} else {
					console.log(ans);
					const errno = ans.failure.errno;
					if (errno == 1406) alert('Enter valid data...!!!');
					else alert('Enter valid data...!!!!');
					// console.log(ans.failure.errno);
				}
			})
			.catch((err) => console.log(err));
	});
</script>
<!-- <script>
	let TODAY = new Date();

	let EIGHTEEN_YEARS_BACK = new Date(
		new Date(TODAY).getFullYear() -
			18 +
			'-' +
			new Date(TODAY).getMonth() +
			'/' +
			new Date(TODAY).getDate()
	);
	// console.log(new Date(EIGHTEEN_YEARS_BACK))
	// console.log(EIGHTEEN_YEARS_BACK.toISOString())
	document.getElementById('dob').max =
		EIGHTEEN_YEARS_BACK.toISOString().split('T')[0];
	const myfunction = async () => {
		console.log('hello');
		const id = document.getElementById('id').value;
		const name = document.getElementById('name').value;
		const location = document.getElementById('location').value;
		const gender = document.getElementById('gender').value;
		const dob = document.getElementById('dob').value;
		let fingerprint;
		// console.log(name);

		const form = document.querySelector('form');
		form.addEventListener('submit', async (e) => {
			e.preventDefault();
			// const fingerprint=document.getElementById("fingerprint").value;
			const file = document.getElementById('file');
			const form = document.querySelector('form');
			const formdata = new FormData(form);
			const data = await fetch('http://localhost:4000/upload', {
				method: 'POST',
				body: formdata,
			});
			fingerprint = await data.json();
			console.log('success!!!!!! === ', fingerprint);
		});

		await fetch('/add-voter', {
			method: 'POST',
			headers: {
				Accept: 'application/json',
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				id: id,
				name: name,
				dob: dob,
				location: location,
				gender: gender,
				fingerprint: fingerprint,
			}),
		})
			.then(async (res) => {
				const ans = await res.json();
				if (ans.success) {
					alert('Data added successfully...!!!');
				} else {
					const errno = ans.failure.errno;
					if (errno == 1406) alert('Enter valid data...!!!');
					else alert('Enter valid data...!!!!');
					// console.log(ans.failure.errno);
				}
			})
			.catch((err) => console.log(err));

		// window.location.href="/add-voter";
		// document.getElementById("myform").submit();
	};
</script> -->
