<%- include('./base.ejs') %>
<div class="container">
<div class="login" >
    <label for="id">Enter voter id</label>
    <input class="form-ele" type="text" id="id" required>
    <label for="name">Enter name</label>
    <input class="form-ele" type="text" id="name" required>
    <label for="location">Enter location</label>
    <input class="form-ele" type="text" id="location" required>
    <label for="DOB">Enter Date of birth</label>
    <input class="form-ele" type="date" id="dob" required>
    <label for="gender">Select gender</label>
    <select class="form-ele" id="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">other</option>
    </select>
    <button class="form-btn" onclick=myfunction()>Add</button>
</div>
</div>
<script>
    const myfunction = async ()=>{
        // console.log("ahjh")
        const id  = document.getElementById('id').value;
        const name = document.getElementById('name').value;
        const location = document.getElementById('location').value;
        const gender = document.getElementById('gender').value;
        const dob = document.getElementById('dob').value;

        // console.log(name);
        if(name.length>255){
            alert("Please enter valid name length between 1-255");
            return;
        }   
    await fetch('/add-voter',{
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({id: id, name:name,dob:dob,location:location,gender:gender})
    }).then( async (res)=>{
        const data = await res.json()
        console.log("sds",data) 
    //    if(data.success){
    //        window.location.href = '/vote'
    //    }else{
        // console.log("data failure: ",data.failure);
           window.location.href = '/add-voter'
             
    //    }
    }).catch(err=>console.log(err))

}





</script>