<%- include('./base.ejs') %>
<div class="container">
    <div class="heading">Register user</div>
<div class="login" >
    Enter voter id
    <input class="form-ele" type="text" id="id" required>
     Enter name
    <input class="form-ele" type="text" id="name" required>
     Enter location
    <input class="form-ele" type="text" id="location" required>
     Enter Date of birth
    <input class="form-ele" type="date" id="dob" required>
     Select gender
    <select class="form-ele" id="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">other</option>
    </select>
    <button class="form-btn" onclick=myfunction()>Add</button>
</div>
</div>
<script>
    const myfunction = async ()=>{
         console.log("OP OP")
        const id  = document.getElementById('id').value;
        const name = document.getElementById('name').value;
        const location = document.getElementById('location').value;
        const gender = document.getElementById('gender').value;
        const dob = document.getElementById('dob').value;

        // console.log(name);
        
    await fetch('/add-voter',{
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({id: id, name:name,dob:dob,location:location,gender:gender})
    }).then(async res=>{
        const ans=await res.json();
        if(ans.success)
        {
            alert("Data added successfully...!!!")
        }
        else 
        {
            const errno=ans.failure.errno;
            if(errno==1406)
                alert("Enter valid data...!!!");
            else
                alert("Enter valid voter id...!!!!")
            // console.log(ans.failure.errno);
        }
    
    }).catch(err=>console.log(err));

    window.location.href="/add-voter";
    
}





</script>