*
{
    margin:0;
    padding:0;
    width: 100vw;
    box-sizing: border-box;
    
	overflow: hidden;
    
}
body{
    height:100vh;
    
}
.container
{
    height: 100vh;
    position: relative;
}
.login
{
   
    position: absolute;
    top:15%;
    left:39.5%;
    height: auto;
    width: 25vw;
    font-size: 1.3rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    padding: 1.2rem;
    
    
    
}
.login:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0,0.2);
}

.form-ele
{
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}
.form-ele:focus 
{
    border-color: white;
}

.form-btn
{
    width: 30%;
    align-self: center;
    margin-top: .7rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    background-color: black;
    color:white;
    padding: .2rem;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
 }

.main
{
    height:100vh;
   display: block;
   
}
 .heading
 {
    margin:2rem;
    text-align: center;
    font-size: 2rem;
    color:#002699;
  
 }

 .sub-heading
 {
    font-size:1rem;
    text-align: center;
    margin:.5rem;
 }

 .img-div
 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width:100vw; */
    height:100vh;
    margin-top:4rem;
 }

 .card
 {
    width:15rem;
    height:15rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: .3s;
    background-color: white;
 }
 .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
 }

 .card-btn
 {
    
    padding: .5rem 1rem;
    text-decoration: none;
    align-self: center ;
    background-image: linear-gradient(to right,#eb8334,#eb7434);
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
    color:white;
    width:70%;
    margin:auto;
    text-align: center;
    
}
.card-btn a{
    text-decoration: none;
    color:white;
}
 .img{
    
    height:9rem;
    object-fit: cover;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 70%;
    background-color: transparent;
 }


 /* Results page design */
 .results
 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
 }
 .canva
 {
    position: relative;
    width: 40vw;
    height:50vh
 }
