<%- include('./base.ejs')%>

<div>
    <img class="img" src="/images/sm404.png">
    <div class="msg error">Ooops Something went wrong !! </div>
    <h4 class="text-center">You will be redirected shortly...</h4>
</div>

</body></html>

<script>

    setTimeout(() => {
        window.location.href = '/'
    }, 3000);
</script>

