<%- include('./base.ejs')%>

<div>
    <img class="img" src="/images/sm404.png">
    <div class="msg error">Ooops Something went wrong !! </div>
</div>
<script>
    setTimeout(()=>{
        window.location.assign("/");
    },3000)
</script>
</body></html>