<%- include('./base.ejs')%>

<div class="center-img">
    <img class="img" src="/images/error.png">
    <h4 class="text-center">You will be redirected shortly...</h4>
    
</div>
</body></html>

<script>

    setTimeout(() => {
        window.location.href = '/'
    }, 3000);
</script>