<%- include(./base.ejs) %>
    <div class="container">
        <div class="heading">Login Page</div>
        <div class="card">
            ID:<input type="text" class="card-input"></input>
            SessionID: <input type="password" class="card-input"/>
            <button class="card-btn">Submit</button>
        </div>
    </div>
  </body>
</html>
