<%- include('./base.ejs') %>
    <div class="container">
        <div class="heading">Login Page</div>
        <div class="card">
            Voter ID:<input id="voterId" type="text"  class="card-input"></input>
            Date of Birth:<input id="dob" type="date"   class="card-input"></input>
            Encrypted key: <input id="EncryptedKey" value="<%= locals.encrypted_key ? encrypted_key: '' %>" type="password" class="card-input" readonly disabled/>
            <button onclick="submit()" class="card-btn">Submit</button>
        </div>
    </div>
  </body>
</html>

<script>
    
    const submit = async ()=>{
        const voterId  = document.getElementById('voterId').value;
        const EncryptedKey = document.getElementById('EncryptedKey').value;
        let dob = document.getElementById('dob').value;
        let db = new Date(dob);
        db.setDate(db.getDate() - 1);
        console.log(db.toISOString().split('T')[0])
        // const new_date=new Date(dob.getFullYear(),dob.getMonth(),dob.getDay()-1);
        if(voterId=="" || EncryptedKey==""){
            alert("Please enter all the fields");
            return;
        }   
    fetch('/auth',{
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({voter_id: voterId,date_of_birth:db.toISOString().split('T')[0], encrypted_key: EncryptedKey})
    }).then(async (res)=>{
        const data = await res.json()
       if(data.success){
       
    //   await fetch('/vote/'+data.token,{
    //         method: 'GET',
    //         headers: {
    //           'Accept': 'application/json',
    //           'Content-Type': 'application/json'
    //         },
    //         // body:JSON.stringify({key: data.token})
    //     })
        window.location.href = '/vote/'+data.token;
       }else{
        alert(data.message)
        //    window.location.href = '/error'
             
       }
    }).catch(err=>console.log(err))

}
</script>