<%- include('./base.ejs') %>
    <div class="container">
        <div class="heading">Login Page</div>
        <div class="card">
            Voter ID:<input id="voterId" type="text" value="1" class="card-input"></input>
            Encrypted key: <input id="EncryptedKey" value="1" type="password" class="card-input"/>
            <button onclick="submit()" class="card-btn">Submit</button>
        </div>
    </div>
  </body>
</html>

<script>
    const submit = async ()=>{
        const voterId  = document.getElementById('voterId').value;
        const EncryptedKey = document.getElementById('EncryptedKey').value;
        if(voterId=="" || EncryptedKey==""){
            alert("Please enter all the fields");
            return;
        }   
    fetch('/auth',{
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({voter_id: voterId, encrypted_key: EncryptedKey})
    }).then(async (res)=>{
        const data = await res.json()
       if(data.success){
           window.location.href = '/vote'
       }else{
           window.location.href = '/error'
             
       }
    }).catch(err=>console.log(err))

}
</script>